*{padding:0;margin:0;}
body{background:#f0fcff;}
#header{width:80%;height:10rem;margin:0 auto;border:1px solid red;}
#aside{width:80%;height:600px;margin:0 auto;border:2px solid green;border-radius:25px;}
#footer{width:80%;height:10rem;margin:0 auto;border:1px solid red;}
.left{width:30%;height:5rem;border:1px solid blue;}
.right{width:30%;height:5rem;border:1px solid blue;}
#nav{width:100%;height:4rem;border:1px solid yellow;display:none;}
#nav ul{list-style:none;float:right;width:80%;border:1px solid red;}
#nav ul li{width:15%;line-height:3rem;border:1px solid red;text-align:center;border-radius:25px;}
